---
import Form      from "@/components/Form/Form.astro";
import TextInput from "@/components/Form/Inputs/TextInput.astro";
import Textarea  from "@/components/Form/Inputs/Textarea.astro";
import { SiteData } from "@/content/SiteData";
import { getCurrentEntryId } from "@/utils/CurrentEntry";

const {
  inputClasses   = "border border-(--color-border) transition-default p-(--spacing-sm) w-full bg-bg placeholder:text-(--color-text) text-text outline-none",
  wrapperClasses = "mb-(--spacing-sm)",
} = Astro.props;

const formAction = import.meta.env.PUBLIC_INTEGRATION_FORMSPREE + import.meta.env.PUBLIC_CONTACT_FORM;

// Extract current page identifier
const currentPage = getCurrentEntryId(Astro);
---

<Form
  name="contact-form"
  formClass="w-full"
  enableSuccessBanner={true}
  action={formAction}
  successBannerMessage="Thank you for your message. We will get in touch with you shortly."
  successBannerClass="p-(--spacing-sm) bg-primary text-bg border border-(--color-border) bg-light-opacity"
>
  <!-- Hidden input for current page -->
  <input type="hidden" name="Page-of-Submission" value={currentPage} />

  <!-- Row 1 -->
  <div class="flex flex-col lg:flex-row lg:space-x-(--spacing-sm)">
    <div class="w-full lg:w-1/2">
      <TextInput
      label="First Name"
        name="firstName"
        placeholder="First Name"
        required
        inputClass={inputClasses}
        wrapperClass={wrapperClasses}
      />
    </div>
    <div class="w-full lg:w-1/2">
      <TextInput
        label="Last Name"
        name="lastName"
        placeholder="Last Name"
        required
        inputClass={inputClasses}
        wrapperClass={wrapperClasses}
      />
    </div>
  </div>

  <!-- Row 2 -->
  <div class="flex flex-col lg:flex-row lg:space-x-(--spacing-sm)">
    <div class="w-full lg:w-1/2">
      <TextInput
        label="Email Address"
        name="email"
        type="email"
        placeholder="you@example.com"
        required
        inputClass={inputClasses}
        wrapperClass={wrapperClasses}
      />
    </div>
    <div class="w-full lg:w-1/2">
      <TextInput
        label="Phone Number"
        name="phone"
        type="tel"
        placeholder="123-456-7890"
        inputClass={inputClasses}
        wrapperClass={wrapperClasses}
      />
    </div>
  </div>

  <!-- Row 3 -->
  <div class="w-full">
    <Textarea
      label="Message"
      name="message"
      placeholder="Tell us more about your needs…"
      required
      rows={5}
      inputClass={inputClasses}
      wrapperClass={wrapperClasses}
    />
  </div>

</Form>
