---
// src/layouts/BaseLayout.astro
import SEO from "@/layouts/SEO.astro";
import Theme from "@/layouts/Theme.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import HeadTags from "./HeadTags.astro";
import BodyTags from "./BodyTags.astro";
import { SiteData } from "@/content/SiteData";
import { resetSectionIds } from "@/utils/SectionUtils.js";
import AnimationLayout from "./AnimationLayout.astro";

const {
  title = SiteData.title,
  description = SiteData.description,
  image = SiteData.logo,
  canonicalUrl,
  robots,
  siteName = SiteData.title,
  ogType,
  keywords, // New: keywords prop added here
} = Astro.props;

resetSectionIds();
---

<!doctype html>
<html lang="en">
  <head>
    <HeadTags />
    <SEO
      title={title}
      description={description}
      image={image}
      canonicalUrl={canonicalUrl}
      robots={robots}
      siteName={siteName}
      ogType={ogType}
      keywords={keywords}
    />
    <Theme />
    <slot name="head" />
  </head>
  <body class="m-0 p-0 w-full h-full">
    <BodyTags />
    <AnimationLayout>
      <Header />
      <main class="m-0 p-0 min-h-[80vh] bg-[var(--color-bg)]">
        <slot />
      </main>
      <Footer />
    </AnimationLayout>
  </body>
</html>
